@import 'styles/variables';

.reports {
  padding-bottom: 32px;
  position: fixed;
  left: 100%;
  top: 64px;
  bottom: 0;
  overflow: scroll;
  width: calc(100% - 320px);
  background-color: $bgColor;
  &--visible {
    left: 320px;
  }
  &__heading {
    margin: 24px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: "Proxima Nova", sans-serif;
    margin-bottom: 24px;
  }
  &__container {
    padding: 0 24px;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width: 1439px) {
      max-width: 1200px;
    }
    @media(max-width: 1199px) {
      max-width: 992px;
    }
    @media(max-width: 991px) {
      max-width: 100%;
      padding: 0 16px;
    }
  }
  &__filters {
    &-title {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.5px;
      font-weight: bold;
      font-family: "Proxima Nova", sans-serif;
      margin-bottom: 12px;
    }
  }
  &__table {
    width: 100%;
    &-head {
      &-th {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        font-weight: bold;
        font-family: "Proxima Nova", sans-serif;
        padding: 8px 4px;
        text-align: right;
      }
    }
    &-body {
      &-td {
        text-align: right;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        font-weight: 400;
        font-family: "Proxima Nova", sans-serif;
        padding: 8px 4px;
      }
    }
    &-wrapper {
      width: 100%;
      overflow-x: scroll;
    }
    th, td {
      border: 1px solid #999;
    }
  }
}
