@import '../../styles/variables';

.button {
  border: 0;
  background-color: rgba($mainBgColor, 1);
  color: $mainFontColor;
  padding: 8px 12px;
  border-radius: 64px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  svg, span {
    vertical-align: middle;
    line-height: 24px;
  }
  span {
    margin-left: 12px;
  }

  &--l {
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 64px;
    text-transform: uppercase;
    @media only screen and (max-width: 320px) {
      border-radius: 6px;
    }
  }

  &--m {
    font-size: 14px;
    padding: 8px 10px;
    @media only screen and (max-width: 480px) {
      padding: 10px;
    }
  }

  &--s {
    font-size: 12px;
    padding: 6px 8px;
    @media only screen and (max-width: 480px) {
      padding: 8px;
    }
  }

  &--google,
  &--facebook,
  &--guest {
    display: block;
    width: 100%;
    text-align: left;
  }
  &--google {
    background-color: #ffffff;
    color: #222222;
  }
  &--facebook {
    background-color: #1777f2;
    color: #ffffff;
  }

  &--subscribe {
    background-color: #FFEB3B;
    color: #000000;
    width: 100%;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba($mainBgColor, 0.8);
  }

  &--wide {
    width: 100%;
  }

  &--info {
    background: transparent;
    border-radius: 50%;
    color: #ffffff;
    width: 40px;
    height: 40px;
    padding: 10px;
    box-shadow: none;
    &:hover,
    &:focus {
      background-image: none;
      text-decoration: underline;
    }
  }

  &--guest {
    display: inline-block;
    background: transparent;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    box-shadow: none;
    padding: 0;
    &:hover,
    &:focus {
      background-image: none;
      text-decoration: underline;
    }
  }
}

button + button {
  margin-top: 16px;
}
