@import '../../styles/variables';

.aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 1000;
  background-color: $bgColor;
  padding: 16px;
  @media(max-width: 767px) {
    position: fixed;
    top: 64px;
    width: 80vw;
    height: calc(100vh - 64px);
    &--hidden {
      left: -80vw;
    }
    &--hidden &__btn svg {
      transform: rotate(0deg);
    }
  }
  &__btn {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 100%;
    background-color: $bgColor;
    padding: 12px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    svg {
      transform: rotate(180deg);
      path {
        fill: $mainBgColor;
      }
    }
    @media(max-width: 767px) {
      display: flex;
    }
  }
}
