.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
  &__logo {
    position: absolute;
    left: 24px;
    top: 24px;
    font-size: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    pointer-events: initial;
    @media only screen and (max-width: 320px) {
      left: 16px;
      top: 16px;
    }
  }
  &__info {
    position: absolute;
    right: 14px;
    top: 14px;
    pointer-events: initial;
    display: none;
    @media only screen and (max-width: 320px) {
      right: 8px;
      top: 8px;
    }
  }
}

.icon--rotate {
  transform: rotate(180deg);
}

.step1 .header__info {
  @media only screen and (max-width: 480px) {
    display: block;
  }
}
