@import '../../styles/variables';

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
  padding: 0 24px;
  background: $mainBgColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 320px) {
    padding: 0 16px;
  }
  &__logo {
    font-size: 24px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-weight: bold;
    color: $mainFontColor;
    cursor: pointer;
    pointer-events: initial;
  }
  &__nav {
    &-link {
      color: $mainFontColor;
      display: block;
      text-decoration: none;
      cursor: pointer;
    }
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    &-menu {
      position: absolute;
      top: 100%;
      background-color: $mainBgColor;
      padding: 24px;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-link {
        color: $mainFontColor;
        text-decoration: none;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-family: "Proxima Nova", sans-serif;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__photo {
    border-radius: 50%;
    height: 48px;
    display: block;
  }
}
