@import 'styles/variables';

.filters {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__title {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
  }
  &__item {
    margin-bottom: 16px;
    &-popover {
      background-color: $bgColor;
    }
  }
  &__btn {
    padding: 12px;
    cursor: pointer;
  }
}

.filter {

}
