@import '../../styles/variables';

.filters {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  &__btn {
    padding: 12px;
  }
}
