@import 'styles/variables';

.filters {
  background-color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__title {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
  }
  &__item {
    margin-bottom: 16px;
    width: 100%;
    &-popover {
      background-color: $bgColor;
    }
  }
  &__btn {
    padding: 10px;
    cursor: pointer;
  }
}

.filter {
  &__field {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    &--input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      box-shadow: none;
    }
  }
}
