.map {
  position: absolute;
  top: 0;
  left: 320px;
  height: 100%;
  width: calc(100% - 320px);
  display: block;
  z-index: 0;
  @media(max-width: 767px) {
    width: 100vw;
    left: 0;
    height: calc(100vh - 64px);
  }
}
